<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <ion-icon name="paper" icon-left></ion-icon>
      NoteBook
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="orderBy()">
        <ion-icon name="list"></ion-icon>
      </button>&emsp;
      <button ion-button icon-only (click)="viewAnnotation()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <p *ngIf="annotations && annotations.length === 0; else annotationsList">Nenhuma anotação inserida.</p>
  </div>

  <ng-template #annotationsList>
    <ion-list>
      <div *ngFor="let annotation of annotations">
        <ion-item (click)="viewAnnotation(annotation)">
          {{ annotation.title }}
        </ion-item>
      </div>
    </ion-list>
  </ng-template>
</ion-content>